---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { Modal } from 'accessible-astro-components'

import Buscaminas from '@assets/projects/Buscaminas.webp'
import BanderasDelMundo from '@assets/projects/BanderasDelMundo.webp'
import PostMalonePicture from '@assets/projects/PostMalonePicture.webp'
import CuentasMatematicas from '@assets/projects/CuentasMatematicas.webp'
import MegaLogo from '@assets/projects/MegaLogo.webp'
import ArenaMobileInicio from '@assets/projects/ArenaMobileInicio.webp'

---
<section class="projects-container" id="projects-section">
    <div class="projects-container__divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    <h1 class="projects-container__title">Mis proyectos</h1>
    <ul class="projects-list">
        <li class="projects-list-item">
            <Image src={Buscaminas} alt="Tablero inicial del juego Buscaminas" class="projects-list-item__image"/>
            <span class="title-project">Buscaminas
                <button id="project1-modal-trigger" class="title-project__info-button">
                    <Icon name="bx:info-circle" size={25}/>
                </button>
            </span>
            <div class="projects-list-item__links">
                <a href="https://buscaminas-nc.netlify.app/" target="_blank">Demo</a>
                <a href="https://github.com/NehuenCuenca/buscaminas-vue" target="_blank">Repositorio</a>
            </div>
        </li>
        <li class="projects-list-item">
            <Image src={BanderasDelMundo} alt="Collage de banderas de paises del mundo" class="projects-list-item__image" />
            <span class="title-project">Buscador de paises 
                <button id="project2-modal-trigger" class="title-project__info-button">
                    <Icon name="bx:info-circle" size={25}/>
                </button>
            </span>
            <div class="projects-list-item__links">
                <a href="https://countries-api-vue-nc.netlify.app/" target="_blank">Demo</a>
                <a href="https://github.com/NehuenCuenca/FM-RestCountriesApiVue" target="_blank">Repositorio</a>
            </div>
        </li>
        <li class="projects-list-item">
            <Image src={PostMalonePicture} alt="Post Malone cantando" class="projects-list-item__image" />
            <span class="title-project">Tributo a Post Malone 
                <button id="project3-modal-trigger" class="title-project__info-button">
                    <Icon name="bx:info-circle" size={25}/>
                </button>
            </span>
            <div class="projects-list-item__links">
                <a href="https://jxphin.csb.app/" target="_blank">Demo</a>
                <a href="https://codesandbox.io/p/sandbox/tribute-page-pm-nc-jxphin?file=%2Fsrc%2Findex.js" target="_blank">Repositorio</a>
            </div>
        </li>
        <li class="projects-list-item">
            <Image src={CuentasMatematicas} alt="Cuentas simples de matematica" class="projects-list-item__image" />
            <span class="title-project">Minijuego de Matematicas 
                <button id="project4-modal-trigger" class="title-project__info-button">
                    <Icon name="bx:info-circle" size={25}/>
                </button>
            </span>
            <div class="projects-list-item__links">
                <a href="https://math-minigame-nc.netlify.app/" target="_blank">Demo</a>
                <a href="https://github.com/NehuenCuenca/math-minigame" target="_blank">Repositorio</a>
            </div>
        </li>
        <li class="projects-list-item">
            <Image src={MegaLogo} alt="Logo de un gimnasio" class="projects-list-item__image" />
            <span class="title-project">Landing page para gimnasio 
                <button id="project5-modal-trigger" class="title-project__info-button">
                    <Icon name="bx:info-circle" size={25}/>
                </button>
            </span>
            <div class="projects-list-item__links">
                <a href="https://megagym-gchu.netlify.app/" target="_blank">Demo</a>
                <a href="https://github.com/NehuenCuenca/megagym-nc" target="_blank">Repositorio</a>
            </div>
        </li>
        <li class="projects-list-item">
            <Image src={ArenaMobileInicio} alt="Inicio de la pagina Arena Mobile" class="projects-list-item__image" />
            <span class="title-project">Arena Mobile 
                <button id="project6-modal-trigger" class="title-project__info-button">
                    <Icon name="bx:info-circle" size={25}/>
                </button>
            </span>
            <div class="projects-list-item__links">
                <a href="https://arena-mobile.vercel.app/" target="_blank">Demo</a>
                <a href="https://github.com/No-Country/c16-81-t-php" target="_blank">Repositorio</a>
            </div>
        </li>
    </ul>
    <Modal triggerId="project1-modal-trigger" title="Buscaminas" closeText="Cerrar">
        <p>Desarrollé una recreacion de este clasico juego usando <strong>Vue 3</strong> y su Composition API.</p>
        <p>El juego cuenta con 3 niveles de dificultad y ademas, almacena los 3 mejores tiempos segun el nivel de dificultad.</p>
    </Modal>    
    <Modal triggerId="project2-modal-trigger" title="Buscador de paises" closeText="Cerrar">
        <p>Se trata de un challenge de <a href="https://www.frontendmentor.io/challenges/rest-countries-api-with-color-theme-switcher-5cacc469fec04111f7b848ca" target="_blank">FrontendMentor</a> el cual consiste en un buscador de paises.</p>
        <p>La pagina consigue los datos de los paises mediante una llamada a su respectiva API y los renderiza de manera paginada. El proyecto cuenta con dos filtros: por nombre de pais y por región; además del interruptor entre tema claro y oscuro.</p>
        <p>Fue realizado con <strong>HTML, CSS y Vue</strong>.</p>
    </Modal>    
    <Modal triggerId="project3-modal-trigger" title="Tributo a Post Malone" closeText="Cerrar">
        <p>Una de varias paginas que desarrollé para reclamar el <a href="https://www.freecodecamp.org/espanol/certification/NehuenCuenca7/responsive-web-design" target="_blank">certificado de Responsive Web Design en FreeCodeCamp.</a></p>
        <p>Cuenta un poco de la vida de Post y muestra algunos de sus albums.</p>
    </Modal>    
    <Modal triggerId="project4-modal-trigger" title="Minijuego de Matematicas" closeText="Cerrar">
        <p>Otro juego que quise replicar <a href="https://www.tiktok.com/@chriskotra/video/7154986619806715138?is_copy_url=1&is_from_webapp=v1" target="_blank">cuando lo vi en TikTok.</a></p>
        <p>Se trata de realizar 10 cuentas matematicas en el menor tiempo posible. Las cuentas incluyen: suma, resta y multiplicacion.</p>
        <p>Tambien guarda los 3 mejores tiempos, de manera local en el navegador.</p>
    </Modal>    
    <Modal triggerId="project5-modal-trigger" title="Landing page para gimnasio " closeText="Cerrar">
        <p>Proyecto que trata sobre un gimnasio local el cual no cuenta con una pagina web y solo hace uso de redes sociales.</p>
        <p>El diseñar y desarrollar esta landing page me ayudo a sacarle mejor provecho a la herramienta Figma y tambien me hizo dar cuenta de varios conceptos sobre diseño web.</p>
        <p>Aqui usé <strong>Astro con la integracion de React</strong>.</p>
    </Modal>    
    <Modal triggerId="project6-modal-trigger" title="Arena Mobile" closeText="Cerrar">
        <p>La idea principal de este proyecto era realizar una plataforma que permita crear y gestionar torneos de juegos mobile (para dispositivos moviles).</p>
        <p>Fue para una simulación de No Country, donde entre 3 personas, totalmente desconocidas, tuvimos que adaptarnos ante los inconvenientes como equipo, organizarnos y lograr parte del desarrollo de la plataforma (Landing page, API y dashboard de usuario).</p>
    </Modal>    
</section>

<style>
    .projects-container{
        background: var(--projects-fade-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .projects-container__divider {
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .projects-container__divider svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }

    .projects-container__divider .shape-fill {
        fill: var(--color-bg);
    }

    .projects-container__title{
        font: normal normal 600 clamp(2.5rem, 10vw, 4.5rem) var(--display-font, Tahoma);
        text-align: center;
        color: var(--color-titles);
        margin: 2rem 0;
    }
    
    .projects-list{
        margin-top: 5rem;
        padding: 0 1rem 10rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        flex-wrap: wrap;
    }
    .projects-list-item{
        width: 270px;
        height: clamp(300px, 60vh, 420px);
        background-color: var(--color-bg);
        border-radius: 10px;
        box-shadow: 4px 4px 10px var(--color-shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .projects-list-item__image,
    .projects-list-item__title{
        position: relative;
    }

    .projects-list-item__image{
        object-fit: cover;
        border-radius: 10px;
        max-width: 210px;
        height: 50vh;
        top: -4rem;
        rotate: 5deg;
        transition: rotate .3s ease;
    }

    .projects-list-item:hover .projects-list-item__image{
        rotate: 0deg;
    }

    .title-project{
        font: normal normal 400 1.6rem var(--display-font);
        color: var(--color-titles);
        text-wrap: balance;
        text-align: center;
        position: relative;
        top: -3rem;
        padding-bottom: 1rem;
    }

    .title-project__info-button{
        color: var(--color-font);
        padding: 0;
    }

    .title-project__info-button svg{
        --icon-size: clamp(30px, 5vw, 35px);
        width: var(--icon-size);
        height: var(--icon-size);
    }

    .projects-list-item__links{
        position: absolute;
        font: normal normal 500 1.5rem var(--default-font);
        text-decoration: underline;
        display: flex;
        gap: 1rem;
        bottom: 1.5rem;
    }

    
</style>